<div id="<%= @watch %>_commands" title="<%= @title %>" class="panel">
  <% if @status %>
    <h2> Status </h2>
    <fieldset>
      <div align="center"><p>
      <%= @status %> [<%= Time.now.strftime("%H:%m %m/%d") %>]</p></div>
    </fieldset>
  <% end %>
  <% if @log %>
    <h2> Log </h2>
    <fieldset>
      <div align='left'><%= @log %></div>
    </fieldset>
  <% end %>
  <% if @child %>
    <h2> Watches </h2>
    <fieldset>
      <% for child in @child %>
        <div class="row" id="<%= child %>">
        <label><a href="/w/<%= child %>"><%= child %></a></label></div>
      <% end %>
    </fieldset>
  <% end %>
  <h2> Commands </h2>
  <fieldset>
    <% if @commands[1] %>
    <div class="row">
      <label>Power</label>
      <div id="toggle_power" class="toggle" toggled="<%= @commands[0] %>" onclick="submitCommand('power', '<%= @watch %>')">
        <span class="thumb"></span><span class="toggleOn">ON</span>
        <span class="toggleOff">OFF</span>
      </div>
    </div>
    <% end %>
    <div class="row">
      <label>Monitor</label>
      <div id="toggle_monitor" class="toggle" toggled="<%= @commands[1] || @commands[0] %>" onclick="submitCommand('monitor', '<%= @watch %>')"><span class="thumb"></span><span class="toggleOn">ON</span><span class="toggleOff">OFF</span></div>
    </div>
  </fieldset>
  <div id="command_result"></div>
    <% if @commands[1] || @commands[0] %>

  <a class="redButton" onclick="submitCommand('restart', '<%= @watch %>')">Restart <%= " All" if @child %></a>
<% end %>
</div>

